form {
  margin-top: 40px;
}

button {
  background-color: #3498db;
  border: none;
  cursor: pointer;
  padding: 3px 5px;
}

button:hover {
  background-color: #317aaa;
}

.label {
  position: relative;
}

.name {
  position: absolute;
  font-size: 14px;
  top: -18px;
}
